<div class="show-user-space">
  <div class="user-main-space">
    <div class="profile-space">
      <div class="acount-left">
        <div class="user-image">
          <%= image_tag 'acount.png' , size: '140x140' ,class: "acount-icon" %>
        </div>
        <%= current_user.name%>
      </div>

      <div class="three-user-content">
        <%= link_to("#", class: 'user-status') do %>
          <p>30</p>
          <span>投稿</span>
        <% end %>
        <%= link_to("#", class: 'user-status') do %>
          <p>30</p>
          <span>フォロワー</span>
        <% end %>
        <%= link_to("#", class: 'user-status') do %>
          <p>30</p>
          <span>フォロー中</span>
        <% end %>
      </div>
      
    </div>

    <div class="my-lives-space">
      <% @lives.each do |life| %>
        <div class=lives-card>
          <%= life.tired.name%>
        </div>
      <% end %>
    </div>
  </div>
  

</div>