<div class="show-user-space">
  <div class="user-main-space">
    <div class="profile-space">
      <div class="acount-left">
        <div class="user-image">
          <% if @user.sex == 1 %>
            <i class="fas fa-female"></i>
          <% elsif @user.sex == 2 %>
            <i class="fas fa-male"></i>
          <% else %>
            <i class="fas fa-democrat"></i>
          <% end %>
        </div>
        
        
        <div class="user-show-box">

          <% if current_user.id == @user.id %>
            <div class="follow-box">
              My page
            </div>
          <% else %>
            <div class='other-acount-name'><%= @user.name %>様の投稿一覧</div>
            <div class="follow-box-2">
              <% if current_user.following?(@user) %>
                <%= button_to relationship_path(current_user.relationships.find_by(follower: @user.id)), method: :delete, class: "follow-btn" do %>
                  フォロー中
                <% end %>
              <% else %>
                <%= button_to relationships_path(follower: @user), class: "follow-btn" do %>
                  フォローする
                <% end %>
              <% end %>
              <% if current_user.following?(@user) && @user.following?(current_user) %>
                <% if @isRoom == true %>
                  <%= link_to room_path(@roomId), class: "chat-box" do %>
                    <div class="go-chat-box">
                      message
                      <i class="far fa-comments"></i>
                    </div>

                  <% end %>
                <% else %>
                  <%= form_for @room do |f| %>
                    <%= fields_for @entry do |e| %>
                      <%= e.hidden_field :user_id, :value=> @user.id %>
                    <% end %>
                    <%= f.submit "Message?", class: "go-chat-box"%>
                  <% end %>
                <% end %>
              <% end %>
            </div>
          <% end %>
          
        </div>

        
      </div>

      <div class="three-user-content">
        <%= link_to("#", class: 'user-status') do %>
          <p><%= @lives.count%></p>
          <span>投稿</span>
        <% end %>
        <%= link_to("#", class: 'user-status') do %>
          <p><%= @user.passive_relationships.count%></p>
          <span>フォロワー</span>
        <% end %>
        <%= link_to("#", class: 'user-status') do %>
          <p><%= @user.followings.count%></p>
          <span>フォロー中</span>
        <% end %>
      </div>
      
    </div>

    <div class="my-lives-space">
      <%= render "shared/lives-card" %>
    </div>
    <div class="main">
      <label class="text-user">日別会員登録者数 (総会員数 : <%= @users.count %>)</label>
      <div class="graph">
        <%= line_chart @users_count, download: true, colors: ['#FF4F02'] %>
      </div>
    </div>

    <div class="test-4">
      
      <% if current_user.following?(@user) && @user.following?(current_user) %>
        お互いフォロー
      <% else %>
        そうでもないよ
      <% end %>
    </div>
    
  </div>
  

</div>