<div class="show-user-space">
  <div class="user-main-space">
    <div class="profile-space">
      <div class="acount-left">
        <div class="user-image">
          <% if @user.sex == 1 %>
            <i class="fas fa-female"></i>
            
          <% elsif @user.sex == 2 %>
            <i class="fas fa-male"></i>
          <% else %>
            <i class="fas fa-democrat"></i>
          <% end %>
        </div>
        
        
        <div class="user-show-box">

          <% if current_user.id == @user.id %>
            <div class="follow-box">
              My page
            </div>
          <% else %>
            <div class='other-acount-name'><%= @user.name %>様の投稿一覧</div>
            <div class="follow-box-2">
              <% if current_user.following?(@user) %>
                <%= button_to relationship_path(current_user.relationships.find_by(follower: @user.id)), method: :delete, class: "follow-btn" do %>
                  フォロー中
                <% end %>
              <% else %>
                <%= button_to relationships_path(follower: @user), class: "follow-btn" do %>
                  フォローする
                <% end %>
              <% end %>
              <% if current_user.following?(@user) && @user.following?(current_user) %>
                <% if @isRoom == true %>
                  <%= link_to room_path(@roomId), class: "chat-box" do %>
                    <div class="go-chat-box">
                      message
                      <i class="far fa-comments"></i>
                    </div>


                  <% end %>
                <% else %>
                  <%= form_for @room do |f| %>
                    <%= fields_for @entry do |e| %>
                      <%= e.hidden_field :user_id, :value=> @user.id %>
                    <% end %>
                    <%= f.submit "Message?", class: "go-chat-box"%>
                  <% end %>
                <% end %>
              <% end %>
            </div>
          <% end %>
          
        </div>

        
      </div>

      <div class="three-user-content">
        <%= link_to("#", class: 'user-status') do %>
          <p><%= @lives.count%></p>
          <span>投稿</span>
        <% end %>
        <%= link_to("#", class: 'user-status') do %>
          <p><%= @user.passive_relationships.count%></p>
          <span>フォロワー</span>
        <% end %>
        <%= link_to("#", class: 'user-status') do %>
          <p><%= @user.followings.count%></p>
          <span>フォロー中</span>
        <% end %>
      </div>
      
    </div>

    <div class="my-lives-space">
      <% @lives.each do |life| %>
        <%= render partial: "shared/lives-card", locals: { life: life } %>
      <%end %>
    </div>
    <div class="pie-space">

      <div class="pie-chart-box">
        <div class="dark-botton">
        </div>
        <%= pie_chart @pie,colors: ["rgb(0, 255, 13)",  "rgb(0, 255, 234)", "rgb(179, 255, 0)", "rgb(223, 223, 223)", "rgb(158, 158, 158)"]%>
      </div>
      <div class="pie-text">
        <% if current_user.id == @user.id%>
          <div class="pie-desc-1">Category</div>
        <% else %>
          <div class="pie-desc-2"><%= @user.name%>さんの悩みのカテゴリー割合</div>
        <% end %>
        <div class="pie-desc-2">
          <div class="pie-chart-family"><i class="fas fa-home"></i></div>
          Family
        </div>
        <div class="pie-desc-2">
          <div class="pie-chart-work"><i class="fas fa-briefcase"></i></div>
          Work
        </div>
        <div class="pie-desc-2">
          <div class="pie-chart-school"><i class="fas fa-school"></i></div>
          School
        </div>
        <div class="pie-desc-2">
          <div class="pie-chart-private"><i class="fas fa-person-booth"></i></div>
          Private
        </div>
        <div class="pie-desc-2">
          <div class="pie-chart-other"><i class="fas fa-otter"></i></div>
          Other
        </div>


          
      </div>
    </div>
    <div class="main">
      <% if @user.passive_relationships.count != 0 %>
        <label class="text-user">合計フォロワー数<%= @user.passive_relationships.count %></label>
        <div class="graph">
          <%= area_chart @user.passive_relationships.group_by_day(:created_at, format: "%d日").count, points: false, colors: ["rgba(0, 255, 0, 0.582)"] %>
        </div>
      <% end %>
    </div>
    
    
    
  </div>
  

</div>