<div class="all-index-space">
  <div class="main-index-page">


    <div class="index-top-1">
      <i class="far fa-comment-alt"></i><p>New</p>
    </div>
    <div class="bxslider">
      <div class="test-box-parent">
        <% if @lives.count >= 1 %>
          <% @first = @lives.slice(0,8)%>
          <% @first.first(8).each do |life| %>
            <%= render partial: "shared/lives-puts-card", locals: { life: life } %>
          <% end %>
        <% end %>
      </div>
      <div class="test-box-parent">
        <% if @lives.count >= 9 %>
          <% @second = @lives.slice(8,8)%>
          <% @second.first(8).each do |life| %>
            <%= render partial: "shared/lives-puts-card", locals: { life: life } %>
          <% end %>
        <% end %>
      </div>
      <div class="test-box-parent">
        <% if @lives.count >= 17 %>
          <% @third = @lives.slice(16,8)%>
          <% @third.first(8).each do |life| %>
            <%= render partial: "shared/lives-puts-card", locals: { life: life } %>
          <% end %>
        <% end %>
      </div>
    </div>

    <div class="index-top-1">
      <i class="far fa-heart"></i><p>Like</p>
    </div>
    <div class="bxslider">
      <div class="test-box-parent">
        <% if @lives.count >= 1 %>
          <% @first = @count.slice(0,8)%>
          <% @first.first(8).each do |life| %>
            <%= render partial: "shared/lives-puts-card", locals: { life: life } %>
          <% end %>
        <% end %>
      </div>
      <div class="test-box-parent">
        <% if @lives.count >= 9 %>
          <% @second = @count.slice(8,8)%>
          <% @second.first(8).each do |life| %>
            <%= render partial: "shared/lives-puts-card", locals: { life: life } %>
          <% end %>
        <% end %>
      </div>
      <div class="test-box-parent">
        <% if @lives.count >= 17 %>
          <% @third = @count.slice(16,8)%>
          <% @third.first(8).each do |life| %>
            <%= render partial: "shared/lives-puts-card", locals: { life: life } %>
          <% end %>
        <% end %>
      </div>
    </div>

    <div class="index-top-1">
      <i class="far fa-comment"></i><p>Yell</p>
    </div>
    <div class="bxslider">
      <div class="test-box-parent">
        <% if @lives.count >= 1 %>
          <% @first = @yell.slice(0,8)%>
          <% @first.first(8).each do |life| %>
            <%= render partial: "shared/lives-puts-card", locals: { life: life } %>
          <% end %>
        <% end %>
      </div>
      <div class="test-box-parent">
        <% if @lives.count >= 9 %>
          <% @second = @yell.slice(8,8)%>
          <% @second.first(8).each do |life| %>
            <%= render partial: "shared/lives-puts-card", locals: { life: life } %>
          <% end %>
        <% end %>
      </div>
      <div class="test-box-parent">
        <% if @lives.count >= 17 %>
          <% @third = @yell.slice(16,8)%>
          <% @third.first(8).each do |life| %>
            <%= render partial: "shared/lives-puts-card", locals: { life: life } %>
          <% end %>
        <% end %>
      </div>
    </div>
    
  </div>
</div>

