<div class="show-lives-space">
  <div class="lives-main-space">
    <div class="title-lives-box">
      <div class="life-titile-left">
        <div class="life-title-text">
          <div class="title-1">
            Title:
          </div>
          <div class="title-2">
            <%= @life.title.truncate(10) %>
          </div>
        </div>
        <div class="life-title-owner">
          <% if current_user.id == @life.user.id %>
          <p class="sub-text-a">過去の悩み</p>
          <% else %>
            投稿者:
            <%= link_to  "/users/#{@life.user.id}", class: "owner-pass" do %>
              <%= @life.user.name%>
            <% end %>
          <%end%>
        </div>
      </div>
    </div>
    <div class="lives-text-box">






      <div class="lives-double-text">
        <div class="top-double">
          <div class="lives-text-titile">
            <%= image_tag 'sading.png' , size: '50x50' ,class: "top-icon" %>
          </div>
          <div class="lives-title-big">
            Problem
          </div>
        </div>
          <a class="lives-text-under"><%= @life.bad_thing%></a>
      </div>

      <div class="lives-double-text">
        <div class="top-double">
          <div class="lives-text-titile">
            <%= image_tag 'happy.png' , size: '50x50' ,class: "top-icon" %>
          </div>
          <div class="lives-title-vig">
            mini happy
          </div>
        </div>
          <a class="lives-text-under"><%= @life.bad_thing%></a>
      </div>






    </div>
    <div class="lives-category-box">
      <%= render partial: 'shared/lives_category', locals: { life: @life } %>
      <div class="life-title-right">
        <% if current_user.id == @life.user.id %>
          <div class="me-to-count">
            <i class="far fa-heart"></i>
            <%= @life.likes.count %>
          </div>
        <% else %>
          <% if current_user.already_liked?(@life) %>
            <%= link_to life_like_path(@life), method: :DELETE, class: "like-icon"  do %>
              <i class="fas fa-heart"></i>
            <% end %>
          <% else %>
            <%= link_to life_like_path(@life), method: :POST, class: "cansel-icon" do %>
              <i class="far fa-heart"></i>
            <% end %>
          <% end %>
        <% end %>
      </div>
    </div>
    
    
    <div class="lives-comment-box">
      <%= form_with model: [@life, @yell], class: 'yell-form', id: "form", local: true do |f| %>
        <div class="errors-box">
          <%= render 'shared/error_messages', model: f.object %>
        </div>
        <div class="form-input">
          <%= f.text_area :content, class: 'form-yell', placeholder: yellholder, rows:"7", id: "content" %>
        </div>
        <%= f.submit '送信', class: 'yell-submit', id: "submit" %>
      <% end %>
      <div class="yell-lists">
        <% @yells.each do |yell| %>
          <div class="yell-content">
            <%= yell.content%>
            <div class="yell-created">
              <%= time_ago_in_words(yell.created_at) %>前
            </div>
          </div>
        <% end %>
      </div>
      
    </div>
    



  </div>
  
</div>