<!DOCTYPE html>
<html>
  <head>
    <title>Life Count</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">

    
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.min.js"></script>

    <script>
      $(document).ready(function(){
        $('.bxslider').bxSlider({
          auto: true,
          speed: 1000,
          useCSS: false,
          minSlides: 3,
          maxSlides: 3,
          touchEnabled: false
        });
      });
    </script>

  </head>

  <header>
    <div class="app-icon-box">
      <%= link_to( "/", class: "app-title" ) do %>
        <h1 class="title">
          <span>L</span>
          <span>i</span>
          <span>f</span>
          <span>e</span>
          <span>&nbsp;</span>
          <span>C</span>
          <span>o</span>
          <span>u</span>
          <span>n</span>
          <span>t</span>
        </h1>
      <% end %>
    </div>
    <%= link_to 'ログアウト' ,destroy_user_session_path, method: :delete, class: "logout" %>
    <div class="left-icon">
      <%= link_to(new_life_path, class: 'top-icon-btn') do %>
        <%= image_tag 'new-lives.png' , size: '50x50' ,class: "top-icon" %>
      <% end %>
      
      <%= image_tag 'tuuti.png' , size: '50x50' ,class: "top-icon" %>
      <%= image_tag 'DM.png' , size: '50x50' ,class: "top-icon" %>
    </div>
  </header>
  <body>
    <%= yield %>
  </body>
  <footer>
    <% if user_signed_in? %>
      <%= link_to("/", class: 'top-icon-btn') do %>
        <%= image_tag 'home.png' , size: '60x60' ,class: "under-icon" %>
      <% end %>
      <%= image_tag 'search-word.png' , size: '60x60' ,class: "under-icon" %>
      <%= link_to("/users/#{current_user.id}", class: 'top-icon-btn') do %>
        <%= image_tag 'my-page.png' , size: '60x60' ,class: "under-icon" %>
      <% end %>
    <% else %>
      <%= link_to("/", class: 'top-icon-btn') do %>
        <%= image_tag 'home.png' , size: '60x60' ,class: "under-icon" %>
      <% end %>
      <%= image_tag 'search-word.png' , size: '60x60' ,class: "under-icon" %>
      <%= link_to("/", class: 'top-icon-btn') do %>
        <%= image_tag 'my-page.png' , size: '60x60' ,class: "under-icon" %>
      <% end %>
    <% end %>
  </footer>
</html>
