<!DOCTYPE html>
<html>
  <head>
    <title>Life Count</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" rel="stylesheet">

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <header>
    <div class="app-icon-box">
      <%= link_to 'Life Count', "/", class: "app-title" %>
    </div>
    <div class="left-icon">
      <%= link_to(new_life_path, class: 'top-icon-btn') do %>
        <%= image_tag 'new-lives.png' , size: '50x50' ,class: "top-icon" %>
      <% end %>
      
      <%= image_tag 'tuuti.png' , size: '50x50' ,class: "top-icon" %>
      <%= image_tag 'DM.png' , size: '50x50' ,class: "top-icon" %>
    </div>
  </header>
  <body>
    <%= yield %>
  </body>
  <footer>
    <%= link_to("/", class: 'top-icon-btn') do %>
      <%= image_tag 'home.png' , size: '60x60' ,class: "under-icon" %>
    <% end %>
    <%= image_tag 'search-word.png' , size: '60x60' ,class: "under-icon" %>
    <%= link_to("/users/#{current_user.id}", class: 'top-icon-btn') do %>
      <%= image_tag 'my-page.png' , size: '60x60' ,class: "under-icon" %>
    <% end %>
  </footer>
</html>
